.catalog__container {
	display: flex;
	flex-wrap: wrap;
}

.filter {
	padding: 15px 0 10px 0;
	font-size: 1.1rem;
	text-align: center;

	a {
		display: inline-block;
		margin-left: 10px;
		padding: 3px 6px;
		color: #000;
		text-decoration: none;
		border: solid 1px #ccc;
		border-radius: 5px;

		&.selected {
			background-color: #ccc
		}
	}
}

.catalog__product-item {
	position: relative;
	width: calc(50% - 2.2rem);
	margin: 1rem;
	font-size: 1.2rem;
	text-align: center;
	overflow: hidden;
	border: solid 1px #eee;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	background-color: #fafafa;

	@media #{$medium} {
		width: calc(33.3% - 2.2rem);
	}

	@media #{$large-up} {
		width: calc(25% - 2.2rem);
	}

	.stamp {
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px;
		font-size: 1.1rem;
		font-weight: 700;
		color: #fff;
		background: #f00;
	}

	.product-image {
		width: 100%;
	}

	.product-name,
	.product-price,
	.product-sizes {
		margin: 10px 0;
	}

	.product-name {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.product-price {
		.actual-price,
		.installments {
			font-size: 1.1rem;
		}

		.regular-price {
			margin-right: 10px;
			color: #ccc;
		}

		.actual-price {
			font-weight: 700;
		}

		.installments {
			display: block;
			margin: 10px 0;
			color: #666;
		}
	}


	.product-sizes {
		display: flex;
		justify-content: center;

		.size {
			width: 20px;
			margin: 0 5px;
			padding: 6px 0 4px 0;
			color: #000;
			font-size: 1rem;
			font-weight: 700;
			text-decoration: none;
			border: solid 1px #000;

			&.selected {
				color: #fff;
				background-color: #000;
			}

			&:hover {
				background-color: #ddd;
			}
		}
	}

	.select-size {
		position: absolute;
		left: calc(50% - 90px);
		bottom: 82px;
		padding: 11px;
		width: 160px;
		text-align: center;
		border-radius: 3px;
		background: #ccc;

		&:after {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			left: calc(50% - 5px);
			bottom: -5px;
			background: #ccc;
			transform: rotate(45deg);
		}
	}

	.button__AddToCart {
		width: 100%;
		font-weight: 700;
		color: #fff;
		height: 40px;
		border: none;
		background: #000;
		cursor: pointer;
	}
}
