@import '../settings/index.scss';


.am-filter-options{
  @include rem(padding, $gap-normal);
  @include rem(top, 50px);
  @include rem(width, 190px);
  right: 0;
  position: absolute;
  @include z-index(modal);
  background-color: $color-white;
  opacity: 0;
  visibility: hidden;
  transition:  all 200ms ease-in-out;
  &.is--active{
    opacity: 1;
    visibility: visible;
  }
  &:before{
    content: '';
    @include arrow-generator(top, $color-white, $gap-medium);
    @include rem(right, 6px);
    @include rem(top, -14px);
    position: absolute;
  }
  &__item{
    @include rem(font-size, $font-normalest);
    @include rem(padding-bottom, $gap-medium);
    @include rem(padding-top, $gap-medium);
    @include rem(padding-left, $gap-greatest);
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: color 200ms ease-in-out;
    &:hover{
      color: $color-gray;
    }
    &:before{
      content: '';
      @include rem(width, $gap-great);
      @include rem(height, $gap-great);
      @include rem(border, 1px solid $color-gray);
      position: absolute;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    &:not(:last-of-type){
      @include rem(border-bottom, 1px solid $color-gray);
    }
  }
}