@import '../settings/index.scss';

.am-modal {
  @include z-index(modal);
  @extend %center;
  position: fixed;
  background-color: $color-white;
  top: 0;
  left: 0;
  width: 80vw;
  left: 50%;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  transition: transform 300ms ease-in-out;
  @media (min-width: 1025px) {
    height: 90vh;
    transform: translate(-50%, -50%) scale(0);
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(100%);
  }
  &.is--active {
    opacity: 1;
    visibility: visible;
    @media (max-width: 768px) {
      transform: translateX(0);
    }
    @media (min-width: 1025px) {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &__close {
    @include rem(width, $gap-greatest);
    @include rem(height, $gap-greatest);
    @include rem(top, $gap-normal);
    @include rem(right, $gap-medium);
    @include icon-more(20px, 1px, $color-black);
    position: absolute;
    display: block;
    outline: none;
    transform: rotate(45deg);
  }
}
