@import '../settings/index.scss';


.am-modal{
  @include z-index(modal);
  @extend %center;
  position: fixed;
  background-color: $color-white;
  top: 0;
  left: 0;
  width: 95vw;
  height: 90vh;
  left: 50%;
  top: 50%;
  transform: translate(-200%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: transform 300ms linear;
  &.is--active{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }
  &__close{
    @include rem(width, $gap-greatest);
    @include rem(height, $gap-greatest);
    @include icon-more(20px, 1px, $color-black);
    margin-left: auto;
    position: relative;
    display: block;
    outline: none;
    transform: rotate(45deg);
  }
}