@import '../settings/index.scss';

.am-shelf{
  @extend %flex-column;
  @include rem(max-width, 400px);
  @include rem(padding, $gap-medium);
  width: 25%;
  @media(max-width: 1024px){
    width: 30%;
  }
  @media(max-width: 800px){
    width: 50%;
  }

  @media(max-width: 320px){
    width: 100%;
  }
  
  &__image{
    position: relative;
    background-color: $color-gray-2;
    cursor: pointer;
    &-flag{
      @include rem(width, $gap-biggest);
      @include rem(height, $gap-biggest);
      @include rem(font-size, $font-small);
      @include rem(padding, $gap-normal);
      @include rem(line-height, $gap-medium);
      @extend %flex-centered;
      background-color: $color-black;
      color: $color-white;
      font-weight: bold;
      position: absolute;
      text-transform: uppercase;
      left: 0;
      bottom: 0;
      &:before{
        content: '';
        @include rem(height, $gap-smallest);
        @include rem(width, $gap-great);
        @include rem(bottom, $gap-small);
        background-color: $color-white;
        position: absolute;
      }
    }
  }

  &__name{
    @include rem(font-size, $font-normal);
    @include rem(margin, $gap-normal 0);
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__pricing{
    @include rem(font-size, $font-small);
    @include rem(max-width, 160px);
    @extend %center;
    @extend %flex-centered;
    flex-wrap: wrap;
    &-price{
      font-weight: bold;
      color: $color-black;
    }
    &-price,
    &-installments{
      @include rem(margin-bottom, $gap-small);
    }
    &-installments,
    &-old-price{
      color: $color-gray-1;
    }
    &-discount{
      font-weight: bold;
      color: $color-red;
    }
    &-discount,
    &-installments{
      @include rem(padding-left, $gap-normal);
    }
  }

  &__color{
    @extend %flex-centered;
    @include rem(width, $gap-half-biggest);
    @include rem(height, $gap-half-biggest);
    @include rem(border, 1px solid $color-gray);
    margin: $gap-normal auto 0 auto;
    border-radius: 100%;
    img {
      @include rem(padding, $gap-smallest);
      border-radius: 50%;
    }
  }
}