@import '../settings/index.scss';


.am-sizes{
  @extend %flex-centered;
  display: flex;
  flex-wrap: wrap;
  &__bullet{
    @include rem(height, $gap-biggest);
    @include rem(width, $gap-biggest);
    @include rem(line-height, $gap-biggest);
    @include rem(font-size, $font-normal);
    @include rem(border, 1px solid $color-gray);
    @include rem(margin-right, $gap-small);
    @include rem(margin-left, $gap-small);
    background-color: $color-white;
    font-weight: bold;
    border-radius: 50%;
    @media(max-width: 768px){
      @include rem(height, $gap-big);
      @include rem(width, $gap-big);
      @include rem(line-height, $gap-big);
    }
    &.is--selected{
      border-color: $color-black;
      background-color: $color-black;;
      color: $color-white;
    }
  }
}
