
.icon-basket:before { content: '\e800'; } /* '' */
.icon-article:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */