{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
}
