<!DOCTYPE html>
<html>
	<head>
		<!-- Meta declarations -->
		<meta charset="UTF-8">
		<meta http-equiv="Content-Language" content="pt-br">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Fonts -->
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- Scripts -->

		<!-- SEO -->
		<title>theFASHION</title>
		<meta name="description" content="Simple React Redux ecommerce">
	</head>
	<body>
		<!-- React Root -->
		<div id="root"></div>
	</body>
</html>