<!DOCTYPE html>
<html>
	<head>
		<!-- Meta declarations -->
		<meta charset="UTF-8">
		<meta http-equiv="Content-Language" content="pt-br">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Stylesheets -->

		<!-- Scripts -->

		<!-- SEO -->
		<title>AMARO ECOMMERCE</title>
		<meta name="description" content="Simple React Redux ecommerce">
	</head>
	<body>
		<!-- React Root -->
		<div id="root"></div>
	</body>
</html>