.product-container {
    .col-product-name {
        margin-top: 15px;
    }
    
    .col-prices-not-discounted, .col-prices-discounted {
        margin-bottom: 15px;
        [class*='col-'] {
            padding: 0;
        }
    }
    .col-prices-discounted {
        .regular-price {
            text-decoration: line-through;
            color: #888;
        }
        .actual-price {
            font-weight: bold;
        }
        .col-discount-percentage {
            margin-top: 5px;
        }
        .discount-percentage {
            color: #ff0000;
            font-weight: bold;
        }   
    }
    
    .col-prices-not-discounted {
        .regular-price {
            font-weight: bold;
        }
    }
}