//
// Mixins
// ============================================================================
@mixin flex($align: center, $justify: $align) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin col($col) {
  $size: 100% * $col;

  width: $size;
  padding-left: $unit-spacing;
  padding-right: $unit-spacing;
}

@mixin above($media) {
  @media screen and (min-width: #{$media}) {
    @content
  }
}
