//
// Main Variables
// ============================================================================
$color-red:tomato;
$color-white:#fff;
$color-black:#000;
$color-darken:#222;
$color-grey:#e9e9e9;
$color-lighten:#f4f4f4;

$unit-max: 1200px;
$unit-spacing: 15px;
