@import '../settings/index.scss';

.am-header{
  width: 100%;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  @extend %flex-centered;
  @include rem(border-bottom, 1px solid $color-gray);
  &__top{
    width: 100%;
    background-color: $color-pink;
    @include rem(height, $gap-great);
    @extend %flex-centered;
    &-text{
      @include rem(font-size, $font-small);
      text-decoration: underline;
      text-transform: uppercase;
    }    
  }
  &__wrapper{
  }
}