@import '../settings/index.scss';

.am-header{
  width: 100%;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  @extend %flex-centered;
  @include rem(border-bottom, 1px solid $color-gray);
  &__top{
    width: 100%;
    background-color: $color-pink;
    @include rem(height, $gap-great);
    @extend %flex-centered;
    &-text{
      @include rem(font-size, $font-small);
      text-decoration: underline;
      text-transform: uppercase;
    }    
  }
  &__wrapper{
    @extend %flex-centered;
    @include rem(padding-bottom, $gap-great);
    @include rem(padding-top, $gap-great);
    &-logo,
    &-cart{
      margin-left: auto;
    }
    &-cart{
      display: flex;
      position: relative;
      &-icon{
        @include rem(width, $gap-half-biggest);
      }
      &-qty{
        @include rem(font-size, $font-small);
        @include rem(width, $gap-medium);
        @include rem(height, $gap-medium);
        @include rem(line-height, $gap-medium);
        position: absolute;
        top: 0;
        right: -5px;
        border-radius: 50%;
        background-color: $color-red;
        color: $color-white;
      }
    }
  }
}