@import '../settings/index.scss';

.am-toolbar{
  width: 100%;
  &__wrapper{
    @include rem(border-bottom, 1px solid $color-gray);
    @include z-index(header);
    background-color: $color-white;
    width: 100%;
    @include rem(padding-top, $gap-medium);
    @include rem(padding-bottom, $gap-medium);
    @extend %flex-centered;
    flex-direction: column;
    &:first-of-type{
      @include z-index(header);
      position: relative;
    }
  }
  &__nav{
    width: 100%;
    @extend %flex-spaced;
    &-itens{
      @include rem(font-size, $font-normal);
      color: $color-gray-1;
    }
    &-filter{
      position: relative;
      &-button{
        @include rem(font-size, $font-normalest);
        @include rem(margin-left, $gap-half-biggest);
        text-transform: uppercase;
        position: relative;
        outline: none;
        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          @include rem(height, 1px);
          width: 0%;
          right: 0;
          background-color: $color-black;
          transition: width 400ms ease-in-out;
        }
        &:before{
          top: 0;
          @include rem(left, -15px);
          @include arrow(bottom, $color-black);
          transition: all 200ms linear;
        }
        &.is--active{
          &:after{
            width: 100%;
          }
          &:before{
            @include arrow(top, $color-black);
            @include rem(top, 4px);
          }
        }
      }
    }
  }
  &__intro{
    @include rem(font-size, $font-medium);
    text-align: center;
    text-transform: uppercase;
    color: $color-black-1;
  }
}
