* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: 0.1em;
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Oswald', sans-serif;
}
