@import 'utils/*'
@import 'components/*'

.to-cart
  size(100%, 45px)
  upper()

  display flex
  padding-left 15px
  padding-right 15px
  align-items center
  justify-content space-between

  text-align left
  color $color-black

  border none
  cursor pointer
  background-color lighten($color-grey-light, 95%)
