@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background: #dfd7bd;
  font-family: 'Roboto', sans-serif;
  margin: 0; }

.header-app {
  background: #a1905e;
  padding: 15px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .header-app .title {
    color: #FFFFFF;
    text-align: center; }

.card {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
