@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
body {
  background: #eeeded;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0; }

.header-image {
  width: 100%;
  height: 100vh;
  background: url("./assets/bg.jpg");
  background-size: cover; }
  .header-image .marca-name {
    font-size: 72px;
    color: #a1905e;
    position: absolute;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    width: 300px;
    text-align: center;
    left: 50%;
    margin-left: -150px;
    margin-top: 40vh;
    border-top: 6px solid;
    border-bottom: 6px solid; }

.name {
  color: #a1905e;
  margin: 20px;
  text-align: center;
  font-size: 64px; }

.header-app {
  background: #a1905e;
  padding: 15px 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .header-app .title {
    color: #FFFFFF;
    text-align: center;
    font-size: 32px; }

.disable-header {
  box-shadow: none;
  color: #a1905e;
  background: transparent; }

.card {
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px 0;
  padding: 10px; }
  .card .product-image {
    width: 100%;
    height: 320px;
    background: #ccc; }
  .card .image-product {
    transition: all 0.5s ease-in-out; }
  .card .product-name {
    font-size: 22px;
    margin: 8px 0 0; }
  .card .product-price {
    font-size: 18px;
    font-weight: bolder; }
    .card .product-price .disable-price {
      text-decoration: line-through; }

.cart-icon {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 22px;
  font-size: 22px;
  margin: 16px 0; }

.image-modal {
  height: 315px;
  width: 250px;
  position: relative;
  left: 50%;
  margin-left: -125px; }

.cart-button {
  width: 100%;
  color: #a1905e;
  outline: none;
  cursor: pointer;
  padding: 6px 0;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  background: transparent;
  border: solid 2px #a1905e;
  transition: all 0.2s ease-in-out; }
  .cart-button:hover {
    color: #FFFFFF;
    background: #a1905e; }

.no-buy {
  background: #FF5252;
  border: solid 2px #FF5252;
  color: #FFFFFF; }
  .no-buy:hover {
    background: #FF5252; }

.modal-name {
  text-align: center;
  color: #a1905e;
  margin: 10px; }

.product-sizes {
  font-size: 22px;
  color: #a1905e;
  font-size: 22px;
  text-align: center;
  margin: 20px; }

.cart-menu {
  width: 290px;
  padding: 5px;
  height: 300px; }
  .cart-menu .content {
    position: relative;
    width: 100%;
    overflow-y: scroll;
    height: 214px; }
  .cart-menu .total {
    padding: 5px;
    text-align: center;
    font-size: 18px; }

.cart-options {
  background: #a1905e;
  padding: 0 10px;
  color: #FFFFFF;
  border-radius: 3px;
  float: right;
  margin: 0 5px;
  user-select: none; }

.remove-item {
  background: #FF5252; }

.cart-item {
  padding: 5px;
  display: flex; }
  .cart-item .cart-item-name {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; }

/* Sale tag */
.sale {
  z-index: 1;
  position: absolute;
  display: inline-block;
  background: #FF5252;
  color: #FFFFFF;
  height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  line-height: 4.5rem;
  font-size: 18px;
  margin: 5px;
  user-select: none;
  transform: rotate(-20deg);
  cursor: defalt;
  animation: beat 1s ease infinite alternate; }
  .sale:before, .sale:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg); }
  .sale:after {
    transform: rotate(60deg); }

@keyframes beat {
  from {
    transform: rotate(-20deg) scale(1); }
  to {
    transform: rotate(-20deg) scale(1.1); } }
