@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
body {
  background: #eeeded;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0; }

.header-image {
  width: 100%;
  height: 100vh;
  background: #ccc; }

.name {
  color: #a1905e;
  margin: 20px;
  text-align: center;
  font-size: 32px; }

.header-app {
  background: #a1905e;
  padding: 15px 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .header-app .title {
    color: #FFFFFF;
    text-align: center; }

.card {
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px 0;
  padding: 10px; }
  .card .product-image {
    width: 100%;
    height: 320px;
    background: #ccc; }
  .card .product-name {
    font-size: 22px;
    margin: 8px 0 0; }
  .card .product-price {
    font-size: 18px;
    font-weight: bolder; }
  .card .cart-icon {
    color: #a1905e; }

.cart-button {
  width: 100%;
  color: #a1905e;
  outline: none;
  cursor: pointer;
  padding: 6px 0;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  border: solid 2px #a1905e;
  transition: all 0.2s ease-in-out; }
  .cart-button:hover {
    color: #FFFFFF;
    background: #a1905e; }
