/* ====== BUTTON ====== */
.button { 
	padding: 12px 8px;
	text-align: center;
	border: solid 1px #F1F1F1;	
	display: block;
	@include shadowBox();

	&.--block { width: 100%; }

	&.--default {
		border-color: $color-one;
		background-color: $color-one;
		color: #FFFFFF;
	}

	&.--light {
		border-color: $color-one;
		background-color: transparent;
		color: $color-one;
	}
}

/* ====== CARDS ====== */
.card {
	width: 100%;
	cursor: pointer;
	border: solid 1px #F1F1F1;
	@include shadowBox();
	text-align: center;
	margin-bottom: $spacing-unit * 6;
	
	> .image {
		height: 300px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

}


/* ====== INPUT, SELECTS & TEXTARES ====== */
.form-group {

	display: block;
	width: 100%;

	> .select {
		border: solid 1px #F1F1F1;
		padding: 12px 8px;
		width: 100%;
	} 
}