.products-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: calc(100vh - 70px - 40px);
  padding-top: 70px;

  .filters {
    width: 100%;
    display: flex;

    .filter {
      padding: 15px;
      width: 50%;
      cursor: pointer;

      &.active {
        background: $blue-light;
        color: white;
      }
    }
  }

  .product {
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
    height: 50vw;
    border: 1px white solid;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;

    a {
      display: inline-block;
      height: 100%;
      text-align: center;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: $blue-light;
        max-width: 50%;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      }
    }

    &:hover {
      border: 10px $blue-light solid;
      // height: 60vw;
    }
  }
}
@media (min-width: 970px) {
  .products-list {
    justify-content: space-around;

    .product {
      max-width: 33.33vw;
      max-height: 33.33vw;
    }
  }
}
