//
// Generics Bases
// ============================================================================
.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: $unit-max;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-item: stretch;

  @include above(1200px) {
    margin-left: -#{$unit-spacing};
    margin-right: -#{$unit-spacing};
  }
}
