//
// Generics Bases
// ============================================================================
.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: $unit-max;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -#{$unit-spacing};
  margin-right: -#{$unit-spacing};
}
