// //
// // Component Badge
// // ============================================================================
// .badge-quantities
//   size(25px)

//   top 0
//   right -5px
//   position absolute

//   display block

//   line-height 25px
//   text-align center
//   font-size 14px !important

//   border-radius 50%
//   background-color tomato
