//
// Component Cart
// ============================================================================
.main-cart
  size(100%, 100vh)

.cart
  &-mask
    size(100%, 100vh)

    top 0
    left 0
    z-index 2
    position fixed

    display block
    background-color alpha($color-black, 85%)

  &-container
    size(100%, 100vh)
    top 0
    right 0
    z-index 2
    position fixed

    display flex
    max-width 320px
    flex-flow column
    justify-content space-between

    background-color $color-white

  &-list
    width 100%
    height 100vh
    display block
    // overflow auto

    .list
      padding-top 50px

  &-header
    z-index 1
    position fixed

    width 100%
    display flex
    padding 5px 15px
    align-items center
    justify-content space-between
    background-color lighten($color-grey-light, 95%)
    border-bottom 1px solid $color-grey-light

    p
      upper()

    .cart-close
      font-size 2rem
      font-weight 100
      cursor pointer
      transition all .2s

      &:focus,
      &:hover
        color tomato

.product-cart
  position relative

  width 100%
  padding 15px
  display flex

  border-bottom 1px solid lighten($color-grey-light, 75%)

  .cover
    width 100px
    padding-right 10px
    display inline-block

    .image
      display block
      max-width 100%

  .product-info
    width 100%
    display flex
    flex-flow column
    justify-content space-between

    .title
      upper()

      display block

      font-size 1rem
      font-weight 400

  .product-meta
    display flex
    align-items center
    justify-content space-between

  .quantities
    display flex

    button
      size(30px)
      cursor pointer
      font-size 1.2rem
      color $color-white
      background-color $color-black

    input
      size(30px)
      margin 0 5px
      text-align center

.cart-ammount
  padding 15px
  display flex
  align-items center
  justify-content space-between

  border-top 1px solid $color-grey-light

.checkout
  upper()

  width 100%
  padding 15px
  display block

  font-size 1rem
  text-align left
  color $color-white
  background-color $color-black

  cursor pointer
