//
// Component Cart
// ============================================================================
.main-cart
  size(100%, 100vh)

  top 0
  left 0
  z-index 2
  position fixed

  opacity 0
  visibility hidden

  &.is-visible
    opacity 1
    visibility visible

    .cart
      &-mask
        opacity 1

      &-container
        transform translateX(0)

.cart
  &-mask
    size(100%, 100vh)

    top 0
    left 0
    z-index 2
    position fixed

    display block

    opacity 0
    transition all .2s
    background-color alpha($color-black, 85%)

  &-container
    size(100%, 100vh)
    top 0
    right 0
    z-index 2
    position fixed

    display flex
    max-width 320px
    flex-flow column
    justify-content space-between

    background-color $color-white
    transform translateX(100%)
    transition all .2s ease-in .1s

  &-list
    width 100%
    height 100vh
    display block

    .list
      position relative

      display block
      padding-top 50px
      height calc(100vh - 100px)

      overflow hidden

    .scrollbar-container
      height 100%

  &-header
    z-index 1
    position fixed

    width 320px
    display flex
    padding 5px 15px
    align-items center
    justify-content space-between
    background-color lighten($color-grey-light, 95%)
    border-bottom 1px solid $color-grey-light

    p
      upper()

    .cart-close
      font-size 2rem
      font-weight 100
      cursor pointer
      transition all .2s

      &:focus,
      &:hover
        color tomato

.cart-ammount
  padding 15px
  display flex
  align-items center
  justify-content space-between

  border-top 1px solid $color-grey-light

.checkout
  upper()

  width 100%
  padding 15px
  display block

  font-size 1rem
  text-align left
  color $color-white
  background-color $color-black

  cursor pointer
