//
// Component Badge
// ============================================================================
.main-cart
  position relative

  .badge-quantities
    size(25px)

    top 0
    right -5px
    position absolute

    display block

    font-size 14px
    line-height 25px
    text-align center

    border-radius 50%
    background-color $color-black

