//
// Component Product
// ============================================================================
.products-list
  width 100%
  display flex
  flex-wrap wrap
  padding-top 150px
  padding-bottom 25px

.card-product
  position relative

  width 100%
  padding 15px
  display block

  @media screen and (min-width: 600px)
    width 50%

  @media screen and (min-width: 1024px)
    width 25%

  .image
    display block
    max-width 100%

  // Badge de promoção
  .onsale
    size(45px)

    top 15px
    right 15px
    position absolute

    line-height 45px
    text-align center
    color $color-white

    background-color tomato

  .title
    upper()

    padding-top 15px
    padding-bottom 15px

    font-size 1rem
    font-weight 400
    color $color-grey

.product
  &-price
    height 75px

    .normal
      font-size 14px
      color $color-grey-light

    .ammount
      font-size 18px

  &-buy
    upper()

    width 100%
    padding 10px
    display flex
    align-items center
    justify-content space-between

    cursor pointer
    background-color lighten($color-grey-light, 75%)

    .icon
      size(19px)
