//
// Component Product
// ============================================================================
.products
  &-list
    width 100%
    display flex
    padding 115px 15px 25px
    flex-flow row wrap
    align-items stretch

    @media screen and (min-width: 768px)
      padding-left 0
      padding-right 0

.product
  &-card
    shadow(alpha($color-black, 25%))

    width 100%
    margin-bottom 25px

    @media screen and (min-width: 768px)
      margin-left 1%
      margin-right 1%
      width calc(96% / 2)

    @media screen and (min-width: 1024px)
      width calc(92% / 4)

  &-cover
    overflow hidden

    .image
      margin 0 auto
      display block
      max-width 100%

  &-info
    padding 15px
    display block
    background-color $color-white

    .title
      display block
      padding 5px 0
      font-size 15px
      font-weight 400

  &-meta
    width 100%
    display block

    padding-top 15px

    .prices
      size(100%, 55px)
      margin-bottom 15px

      p
        font-weight 100

      .sale
        color $color-grey-light
        font-size 14px

    .option
      size(30px)

      margin-right 5px
      display inline-block
      vertical-align middle

      label
        width 100%
        display block

        line-height 30px
        text-align center

        cursor pointer
        transition all .2s
        border 1px solid $color-black

      input:checked + label
        color $color-white
        background-color $color-black

.to-cart
  size(100%, 45px)
  upper()

  display flex
  padding-left 15px
  padding-right 15px
  align-items center
  justify-content space-between

  text-align left
  color $color-black

  border none
  cursor pointer
  background-color lighten($color-grey-light, 95%)
