%button {
  line-height: 0;
  border-radius: 100%;
  position: relative;
  padding: 0;
  cursor: pointer;
  padding: 5px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 2rem;
}
