//Gotham Book
@font-face {
  font-family: 'Gotham Book';
  src: url('fonts/gotham-book-webfont.woff') format('woff');
  font-style: normal;
}

//Gotham Light
@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

//Gotham Thin
@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham-thin-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

//Gotham Medium
@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham-medium-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

//Gotham Bold
@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
