//fonts
$font-primary: "Gotham Book", sans-serif;
$font-text: "Gotham", sans-serif;

//colors
$color-primary: #333;
$color-text: #999;
$color-text-dark: #000;
$color-bg: #f4f2f0;

//breakpoints
$phone: "only screen and (max-width: 39.29em)";
$tablet: "only screen and (min-width: 39.3em) and (max-width: 64.09em)";
$desktop: "only screen and (min-width: 64.1em)";
