//
// Utils Mixins
// ============================================================================
size(w, h = w)
  width w
  height h

upper()
  text-transform uppercase

shadow(color, size = 15px)
  box-shadow 0 5px size color
