//
// Utils Variables
// ============================================================================
*
  margin 0
  padding 0
  box-sizing border-box

html, body
  width 100%
  display block

body
  font 16px 'Roboto'

button
  border none
  background-color transparent
  outline none
