$color-white: #fff;

$color-black: #000;
$color-black-1: #212529;
$color-black-2: #333333;

$color-pink: #f8c1b8;

$color-red: #cf3838;

$color-gray: #ccc;
$color-gray-1: #999999;
$color-gray-2: #f4f4f4;