/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 10px 0; /* Location of the box */
    left: 0;
    top: 10%;
    width: 100%; /* Full width */
    height: 70%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% 25% auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-y: initial;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-body {
  height: 250px;
  overflow-y: auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    height: 40px;
    padding: 1px 16px;
    background-color: #20857C;
    color: white;
}
  .modal-header h2 {
    margin: 10px 0;
  }

.modal-body {
  padding: 2px 16px;
}

.modal-body .modal-table td {
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
  background-color: transparent;
}

.modal-body .modal-table tr {
  padding: 10px;
  height: 50%;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #cc181e;
    color: black;
}
