@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  margin: 0;
  color: #000;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  padding: 20px 2%;
  margin: 40px auto 0 auto;
}

  body {
    @media only screen and (max-width: 1024px) {
    .product-container {
      width: 100%;
      .product-item {
        width: 43%;
        padding: 10px;

        &__title {
          margin-top: 5px;
          padding: 0;
        }
      }
    }
    .cart {
      width: 100%;
      right: -100%;

      &--open {
        right: 0;
      }

      &__close-btn {
        left: 0px;
        z-index: 2;
        background-color: #fff;
        color: #000;
        border:0
      }

      &__header {
        padding: 25px 0;
      }
    }
  }
  @media only screen and (max-width: 460px) {
    .main-container {
      display: flex;
      flex-wrap: wrap;
      padding: 2%;
      margin-top: 42px;
    }
  }
}

@media screen and (min-width: 640px) {
  .cart__content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  .cart__content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #0c0b10;
  }
}

.cart__content {
  height: 100%;
  overflow-y: scroll;
}

