$preto: #000;
$branco: #fff;
$cinza: #ddd;
$cinzaClaro: #eee;
$cinzaEscuro: #555;
$bordo: #ab2929;

$caramelo: #F49960;
$tapecaria: #957188;
$miniFolk: #B2828C;
$marinho: #1F3D86;
$burgundy: #DB4257;
$freeDots: #622C35;
$offWhite: #fff;
$floralRed: #FD4C5C;
$bohemianPreto: #645B5E;
$paisleyGipsyAzul: #75A7BC;
$indigoEscuro: #25262E;
$laranjaQueimado: #E3534A;
$bege: #BDAFA4;
$floralVintageVermelho: #C74F68;
$marron: #79423F;
$dourado: #FDC496;

$verdeBtn: #00ae7c;
$verdeBtnHover: #00C88E;

$light: 300;
$normal: 400;
$semiBold: 500;
$bold: 700;

$fontePadrao: 15px;
$fonteH1: 26px;
$fonteH2: 23px;
$fonteH3: 18px;