@import 'utilities';

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: .5em .5em 54px;

  list-style: none;
}

.product-card {
  width: 48%;
  padding: .5em;
  margin-bottom: 1em;

  background-color: $white;

  font-size: .875em;

  cursor: pointer;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);  
}