@import 'utilities';

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: .5em .5em 0;

  list-style: none;

  @media screen and (min-width: $break-xs) {
    padding: 2em 2em 0;
  }
}

.product-card {
  position: relative;
  width: 48%;
  margin-bottom: 1rem;

  background-color: $white;

  font-size: .875em;

  cursor: pointer;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: $break-xs) {
    width: 30%;
    font-size: 1em;
    margin-bottom: 2rem;
  }

  @media screen and (min-width: $break-l) {
    width: 23%;
  }
}

.product-image img {
  width: 100%;
}

.no-image {
  width: 100%;
  height: 150px;

  line-height: 150px;
  color: $darkGrey;
  text-align: center;
  font-weight: $fontBold;
}

.product-image.sale:before {
  position: absolute;
  top: 0;
  right: 0;
  content: 'sale';
  background-color: red;
  color: white;
  padding: .125rem .5rem;
}

.product-name {
  width: 100%;
  margin-bottom: .8rem;
  padding: 0 .5rem;

  @media screen and (min-width: $break-xs) {
    padding: 0 1rem;
  }
}

.product-price {
  font-weight: $fontBold;
  padding: 0 .5rem;
  margin-bottom: .5rem;

  @media screen and (min-width: $break-xs) {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
}

.product-regular-price {
  display: none;
  padding: 0 .5rem;

  @media screen and (min-width: $break-xs) {
    padding: 0 1rem;
  }
}
.product-regular-price.sale {
  display: block;

  font-size: .8em;
  color: $darkGrey;  
  text-decoration: line-through;
}

.products-sizes {
  padding: 0 .5rem .5rem;

  @media screen and (min-width: $break-xs) {
    padding: 0 1rem 1rem;
  }
}

.products-sizes span {
    margin-right: .875em;
}