* {
  box-sizing: border-box;
}

body {
  color: $color-black;
  background: $color-white;
  font-family: Roboto, sans-serif;
  font-size: map_get($fontsize, 'normal');
  font-weight: 400;
  margin: 0;
}

.App {
  &__logo {
    display: block;
    margin: 0 auto;
    width: $header-height * 2;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  &__container {
    position: relative;
    margin: 0 auto;
    max-width: map_get($breakpoints, 'desktop');
  }

  &__header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: $header-height;
    background: $color-white;
    border-bottom: 1px solid $color-gray;
    z-index: 2;

    &__link {
      margin: 0 auto;
    }
  }

  &__title {
    margin: 0;
    font-size: map_get($fontsize, 'x-large');

    @include mq('desktop') {
      font-size: map_get($fontsize, 'xx-large');
    }
  }

  &__filter {
    width: 100%;
    margin-bottom: rem(20px);
    text-align: center;
  }

  &__input {
    font-size: map_get($fontsize, 'normal');
    line-height: normal;
    border: 1px solid $color-black;
    padding: rem(10px) rem(20px);

    &--qtd {
      width: 75px;
      margin-right: rem(20px);
    }
  }

  &__message {
    width: 100%;
    margin-bottom: rem(20px);
    font-size: map_get($fontsize, 'normal');

    &--error {
      color: red;
    }
  }

  &__button {
    display: inline-block;
    margin-top: rem(20px);
    padding: rem(10px) rem(20px);
    background-color: $color-black;
    color: $color-white;
    font-size: map_get($fontsize, 'normal');
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    border: 1px solid $color-black;

    @include mq('desktop') {
      font-size: map_get($fontsize, 'medium');
    }

    &:hover {
      color: $color-black;
      background: $color-white;
    }

    &--small {
      font-size: map_get($fontsize, 'small');
      margin-top: 0;
      padding: rem(5px) rem(10px);
    }
  }
}
