.App {
  &__products {
    margin-top: $header-height;
    padding: rem(10px);

    &__wrapper,
    &__main {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      flex-flow: row wrap;
      transition: all 0.3s ease-in-out;
    }

    &__item {
      margin-bottom: rem(10px);
      padding: rem(10px);
      flex: 0 1 auto;
      color: $color-black;
      background-color: $color-white;
      border: 1px solid $color-white;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      will-change: transform;
      transform: translate(center, center);

      &:hover {
        border-color: $color-gray;
        z-index: 1;
      }

      &--large {
        padding: 0;
        flex: 1;

        &:hover {
          border-color: transparent;
          transform: none;
        }
      }

      @include mq('mobile') {
        flex-basis: (100% / 2);
      }

      @include mq('tablet') {
        flex-basis: (100% / 3);
      }

      @include mq('desktop') {
        flex-basis: (100% / 4);
      }
    }

    &__picture {
      position: relative;

      &--large {
        width: 100%;

        @include mq('mobile') {
          width: 50%;
        }
      }
    }

    &__info {
      width: 100%;
      padding: 0 rem(10px);

      @include mq('mobile') {
        width: 50%;
      }
    }

    &__color {
      padding: rem(5px) rem(10px);
      font-weight: 700;
      background-color: $color-white;
      border-radius: rem(5px);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

      @include mq('desktop') {
        font-size: map_get($fontsize, 'large');
      }

      &__wrapper {
        position: absolute;
        right: 0;
        z-index: 1;
      }
    }

    &__photo {
      position: relative;
      display: block;
      width: 100%;

      &--large {
        width: 50%;
      }
    }

    &__title {
      margin: rem(10px) 0 0 0;
      font-size: map_get($fontsize, 'normal');
      text-transform: capitalize;

      @include mq('desktop') {
        font-size: map_get($fontsize, 'medium');
      }

      &--large {
        margin: 0 0 rem(20px) 0;
        font-size: map_get($fontsize, 'x-large');

        @include mq('desktop') {
          font-size: map_get($fontsize, 'xx-large');
        }
      }
    }

    &__subtitle {
      display: block;
      font-size: 75%;
    }

    &__description,
    &__details {
      line-height: 150%;

      @include mq('desktop') {
        font-size: map_get($fontsize, 'medium');
      }

      &--large {
        margin-top: (40px);
      }

      &--discount {
        text-decoration: line-through;
      }
    }

    &__details {
      margin: 0;
    }

    &__name {
      padding-right: rem(10px);
    }

    &__sizes {
      margin: 0 0 rem(10px) 0;
      display: block;
      line-height: 150%;

      &__item {
        display: inline-block;
        margin-right: rem(10px);
        padding: rem(10px);
        font-size: map_get($fontsize, 'small');
        color: $color-black;
        background-color: $color-white;
        border: 1px solid $color-gray;
        cursor: pointer;

        @include mq('desktop') {
          margin-top: rem(5px);
          font-size: map_get($fontsize, 'normal');
        }

        &[disabled] {
          opacity: 0.3;
          pointer-events: none;
          cursor: not-allowed;
        }

        &--selected {
          color: $color-white;
          background-color: $color-black;
        }
      }
    }
  }
}
