$color-white: white;
$color-black: black;
$color-gray: #ccc;

$header-height: 100px;

$breakpoints: (
  'mobile': 481px,
  'tablet': 769px,
  'desktop': 1025px,
);

$fontsize: (
  'small': 14px,
  'normal': 16px,
  'medium': 18px,
  'large': 21px,
  'x-large': 24px,
  'xx-large': 36px,
);
