@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

$bg:#eeeded;
$white:#FFFFFF;
$theme:#a1905e;

body{
  background:$bg;
  font-family: 'Open Sans Condensed', sans-serif;
  margin:0;
}

// Header
.header-image{
  width:100%;
  height:100vh;
  background:#ccc;
}

.name{
  color:$theme;
  margin:20px;
  text-align:center;
  font-size:32px;
}

.header-app{
  background:$theme;
  padding:15px 0;
  position:fixed;
  z-index:1;
  width:100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .title{
    color:$white;
    text-align:center;
  }
}

.card{
  background:$white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin:10px 0;
  padding:10px;
  .product-image{
    width:100%;
    height:320px;
    background:#ccc;
  }
  .product-name{
    font-size:22px;
    margin:8px 0 0;
  }
  .product-price{
    font-size:18px;
    font-weight:bolder;
  }
}

.cart-icon{
  position: absolute;
  top: 7px;
  right: 7px;
  font-size:22px;
}

.image-modal{
  height:200px;
  width:158px;
  position:relative;
  left:50%;
  margin-left:-79px;
}

// BOTÃO
.cart-button{
  width:100%;
  color:$theme;
  outline:none;
  cursor:pointer;
  padding:6px 0;
  text-align:center;
  font-weight:bolder;
  font-size:18px;
  border:solid 2px $theme;
  transition: all 0.2s ease-in-out;
  &:hover{
    color:$white;
    background:$theme;
  }
}

.modal-name{
  text-align:center;
  color:$theme;
  font-size:42px;
  margin:10px;
}

.product-sizes{
  font-weight:bolder;
  font-size:22px;
  color:$theme;
}

.cart-menu{
  width:290px;
  padding:5px;
  height:400px;
  .content{
    position:relative;
    width:100%;
  }
}