@import '../../styles/shared';

.products {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;

    @media screen and (min-width: $break-medium) {
      justify-content: left;
    }
  }

  &__box {
    padding: 1rem;
    position: relative;
    text-align: center;
    width: calc(100% / 2);

    @media screen and (min-width: $break-medium) {
      width: calc(100% / 4);
    }

    & .badge {
      position: absolute;
      right: 0;
      margin: 0;
    }
  }
}
