/*Variáveis*/
$colorWhite: #fff;
$colorAmaro: #333;
$colorAmaroSub: #ccc;
$colorClaro: #999;

/*
Global
--------------------------------------------
*/
* {
    transition: all 0.5s linear;
}

body{
	padding-top: 70px;
}

.fontWhiteColor{
	color: $colorWhite;
}

.loader{
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  z-index: 9999;
	.loaderContent{
	  /*background-size: 54px 55px;*/
	  background-image: url("../img/loading-v1.gif");
	  background-repeat: no-repeat;
	  background-position: center center;
	  overflow: hidden;
	  text-align: center;
	  background-color: $colorWhite;
	  width: 100%;
	  height: 100%;
	  opacity: 1;
	  display: table-cell;
	  vertical-align: middle;
	}

}

/*
Header
--------------------------------------------
*/
.navbar-icon-cart{
	float: right;
	margin: 15px 15px auto auto;
}

nav.navbar{
	z-index: 1;
}

/*
Content
--------------------------------------------
*/
.ratings {
	margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
	
	.btn-tam span{
		border: 1px solid $colorAmaro;
		padding: 5px;
		margin: auto 5px;
	}

}

.btn-comprar{
	width: 100%;
	margin: 0px auto 0px auto;
}

#catalogo-produtos{

	a.produto-nome{
		color: $colorAmaro;
	}

}


/*
Chart
--------------------------------------------
*/
.chart {
    display: none;
	right: 0px;
	width: 80%;
	max-width: 350px;
	position: fixed;
    z-index: 3;
    height: 100%;
    top: 0px;
    border-radius: 0px;
    background-color: $colorWhite;
    border-left: 1px solid $colorAmaroSub;
	overflow-y: auto;
	padding-bottom: 36px;

	h4{
    	padding: 10px 10px 10px 10px;
    	margin: 0px auto 0px auto;
    	font-weight: bold;
    	color: $colorWhite;
    	background-color: $colorAmaro;
    }

	.products-chart{
		border-bottom: 1px solid $colorAmaroSub;
		padding-bottom: 5px;
		margin-top: 10px;
		line-height: normal;
		
		.produto-quantidade{

			input.btn-quantidade{
				max-width: 50px;
				background-color: $colorWhite;
				border: 1px solid $colorAmaroSub;
			}

			span.titulo-quantidade{
				text-align: left;
				margin-top: 10px;
				font-size: 0.9em;
			}

		}

		img.produto-imagem{
	    	width: 100%;
	    	height: auto;
	    }

	    .produto-nome{
	    	font-size: 0.9em;
	    	font-weight: bold;
	    }

	    .produto-cor{
	    	font-size: 0.9em;
	    }

	    .produto-tamanho{
	    	font-size: 0.7em;
	    	color: $colorClaro;
	    }

	    .excluir{
	    	position: absolute;
	    	top: 5px;
	    	right: 10px;
	    }

	}

	.total-chart{
		border-top: 1px solid $colorAmaroSub;
		position: fixed;
		background-color: $colorWhite;
		bottom: 0px;
		width: 100%;
		display: block;

		.total{

			font-weight: bold;
			padding: 0px 10px;

			.resultado-preco-total{
				font-weight: normal;
			}

		}

	}

}

.backNav {
    position: fixed;
    background: rgba(10,23,55,0.5);
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 1;
    display: none;
}

/*
footer
--------------------------------------------
*/
#container-footer{
	background-color: $colorAmaro;
}

.copy-footer{
	color: $colorWhite;
	font-size: 12px;
	line-height: 32px;
	text-align: center;
	margin-bottom: 0px;
}


