*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $background-color;
  color: $default-font-color;
  font-family: $default-font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a,
a:active,
a:focus,
a:hover {
  color: $default-font-color;
  text-decoration: none;
}
