html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}
body {
  box-sizing: border-box;
  min-height: 100%;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Nunito', sans-serif;
  background-color: #f9f9f9;

}

#app {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
  &:hover {
      cursor: pointer;
  }
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

button{
  cursor: pointer;
}